@font-face {
  font-family: Inter;
  src: url("../src/assets/fonts/Inter_28pt-Regular.ttf");
}


@import "tailwindcss";

@theme{
  --font-inter:Inter,"sans-serif"
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 16px;
  margin-right: auto;
  margin-left: auto;
}